body
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    /* background-color: rgb(191, 192, 192); */
    background-color: rgb(10,10,10);

}
header
{
    height: 6rem;
    background-color: rgb(10,10,10);
    border-bottom: 2px solid white;
    /* border-radius: 10px; */
}
.logo
{
    display: inline-block;
    height: 6rem;
    width: auto;
}
#headlogo
{
    margin-left: 10px;
    margin-top: 7px;
    width: auto;
    height: 5rem;
}
.notifcard
{
    height: 30rem;
    width: 70rem;
    background-color: rgb(181, 215, 245);
    margin: auto;
    /* float: right; */
    border-radius: 10px;
}
.carddiv
{
    /* display: flexbox; */
    margin-top: 50px;
}
.navbar
{
    color: white;
    /* display: inline-flex; */
    float: right;
    height: 6rem;
    width: 30rem;

}
.navbarul
{
    list-style-type: none;
    /* display: block; */
    height: 6rem;
    margin: 0px 0px;
    padding: 0;
    align-items: center;
    vertical-align: middle;
}
.navbarli
{
    height: 6rem;
    display: inline-block;
    width: 5rem;
}
#navlink
{
    display: block;
    width: fit-content;
    float: center;
    margin: auto;
    margin-top: 38px;
    padding: 10px;
    border: 1px solid white;
}