body
{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(191, 192, 192);

}
header
{
    height: 5rem;
    background-color: rgb(45, 49, 66);
}
#headlogo
{
    
}